@import "src/styles";

.card a:hover {
  text-decoration: none
}

.book-cover {
  min-height: 130px;
  border-radius: inherit;
  border-bottom-left-radius: unset;
  border-bottom-right-radius: unset;
  display: block;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.book-cover-all {
  min-height: 304px;
  background-color: $tb-02;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.book-cover-video {
  min-height: 191px;
  background-color: $tb-03;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.book-cover-audio {
  min-height: 191px;
  background-color: $tb-02;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.title-all {
  text-transform: uppercase;
  margin: 0 0.75 0;
  color: $white;
}

.title-video {
  text-transform: uppercase;
  margin: 0 0.75 0;
  color: $tb-02;
}

.title-audio {
  text-transform: uppercase;
  margin: 0 0.75 0;
  color: $tb-03;
}

.author-all, .author-all > a {
  color: $white;
}

.author-all > a:hover {
  color: $white;
  text-decoration: underline;
  cursor: pointer;
}

.author-video, .author-video > a {
  margin: 0;
  color: $tb-02;
}

.author-video > a:hover {
  color: $tb-02;
  text-decoration: underline;
  cursor: pointer;
}

.author-audio, .author-audio > a {
  margin: 0;
  color: $tb-03;
}

.author-audio > a:hover {
  color: $tb-03;
  text-decoration: underline;
  cursor: pointer;
}

.btn-all {
  background-color: $tb_03;
  border-color: $tb_03;
}

.btn-all:hover {
  background-color: darken($tb-03, 5%);
}

.btn-video {
  background-color: $tb_02;
  border-color: $tb_02;
}

.btn-video:hover {
  background-color: darken($tb-02, 5%);
}

.btn-audio {
  background-color: $tb_03;
  border-color: $tb_03;
}

.btn-audio:hover {
  background-color: darken($tb-03, 5%);
}

.content-card {
  font-size: 16px;
}

.category-all {
  color: $tb_04;
  text-transform: uppercase;
  margin: 0;
  font-weight: 100;
}

.category-video {
  color: $white;
  text-transform: uppercase;
  margin: 0;
  font-weight: 100;
}

.category-audio {
  color: $white;
  text-transform: uppercase;
  margin: 0;
  font-weight: 100;
}

.group-icon-all i {
  color: $tb_04;
  font-size: 1.5rem;
}

.group-icon-all i:hover {
  color: $tb_04_h;
  text-decoration: none;
}

.group-icon-video i {
  color: $white;
  font-size: 1.5rem;
}

.group-icon-video i:hover {
  color: $tb_03_h;
  text-decoration: none;
}

.group-icon-audio i {
  color: $white;
  font-size: 1.5rem;
}

.group-icon-audio i:hover {
  font-size: 24px;
  color: $tb_04_h;
  text-decoration: none;
}
