<div class="card" [ngClass]="type ? 'card-' + type : ''">
    <div class="book-cover"
         [ngStyle]="{'background': 'url(' + contentService.getCoverBookUrl(book) + ')'}"></div>
    <div class="px-3 pt-3 pb-3" [ngClass]="type ? 'book-cover-' + type : ''">
        <h4 [ngClass]="type ? 'title-' + type : 'title'">{{book.title}}</h4>
        <h6 class="mb-1" [ngClass]="type ? 'author-' + type : 'author'">
            {{CONSTANTS.CARD_HOME.AUTHOR_OF}}
            <a routerLink="/author/{{book.id_author}}">{{book.name + ' ' + book.surname}}</a>
        </h6>
        <!-- buttons card all -->
        <div *ngIf="type == 'all'" class="row pt-2 pb-2">
            <div class="col-lg-10 col-md-12">
                <a class="btn btn-block btn-sm text-white text-left" [ngClass]="type ? 'btn-' + type : ''"
                   (click)="selectTypeContent('libro')">
                    <i class="icon-book icon-position-4 display-6"></i>
                    <span class="content-card">&nbsp;{{CONSTANTS.CARD_HOME.READ}}</span>
                </a>
                <a class="btn btn-block btn-sm text-white text-left" [ngClass]="type ? 'btn-' + type : ''"
                   (click)="selectTypeContent('video')">
                    <i class="icon-video icon-position-4 display-6"></i>
                    <span class="content-card">&nbsp;{{CONSTANTS.CARD_HOME.SHOW_VIDEO}}</span>
                </a>
                <a class="btn btn-block btn-sm text-white text-left" [ngClass]="type ? 'btn-' + type : ''"
                   (click)="selectTypeContent('audio')">
                    <i class="icon-audio icon-position-4 display-6"></i>
                    <span class="content-card">&nbsp;{{CONSTANTS.CARD_HOME.HEAR_AUDIO}}</span>
                </a>
            </div>
        </div>
        <!-- buttons card video -->
        <div *ngIf="type == 'video'" class="row pt-2 pb-2">
            <div class="col-md-12">
                <h6 class="text-tb-02 popp-med">
                    <i class="icon-video icon-position-4 display-6"></i>
                    <a class="pointer" (click)="selectTypeContent('video')">&nbsp;{{book.content_video_label}}</a>
                </h6>
            </div>
        </div>
        <!-- buttons card audio -->
        <div *ngIf="type == 'audio'" class="row pt-2 pb-2">
            <div class="col-md-12">
                <h6 class="text-tb-03 popp-med">
                    <i class="icon-audio icon-position-4 display-6"></i>
                    <a class="pointer" (click)="selectTypeContent('audio')">&nbsp;{{book.content_audio_label}}</a>
                </h6>
            </div>
        </div>
        <!-- category and social share -->
        <div class="row col-12 pt-0 pr-0 pb-3 pl-0 position-absolute bottom-0 small">
            <div class="col-lg-7 col-md-7 col-7 pt-1">
                <p [ngClass]="type ? 'category-' + type : ''">
                    <i class="icon-categories icon-position-4 display-6"></i>
                    <span>&nbsp;{{book.category}}</span>
                </p>
            </div>
            <div class="col-lg-5 col-md-5 col-5 d-flex justify-content-end align-items-center pt-1"
                 [ngClass]="type ? 'group-icon-' + type : ''">
                <i class="icon-fb pointer"></i>
                <i class="icon-twitter pointer"></i>
                <i class="icon-instagram pointer"></i>
                <i class="icon-share pointer"></i>
            </div>
        </div>
    </div>
</div>
