<div class="container-fluid p-5 m-auto author-header">
    <div class="row p-1">
        <div class="col-lg-3 col-md-3 col-sm-12 text-white text-right my-auto">
            <p class="author-name" *ngIf="author">{{author.name}}&nbsp;{{author.surname}}</p>
        </div>
        <div class="col-lg-6 col-md-7 col-sm-4 my-auto">
            <div class="cantata text-white quot-parallelogram">
                <p class="p-4" *ngIf="author">
                    <span class="display-5">&#8220;</span>{{author.motto}}<sub class="display-5 mt-3">&#8221;</sub>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-7 col-md-8 mt-n5">
        <img class="rounded-circle mx-auto d-block author-img" src="/assets/images/author_photo.png"
             [alt]="author.avatar"/>
    </div>
</div>
