@import "src/styles";

@media (min-width: 768px) and (max-width: 1024px) {
  .author-header {
    background: url("/assets/images/author_header.png") 20% no-repeat, $tb-03;
  }
}

.author-header {
  background: url("/assets/images/author_header.png") center no-repeat, $tb-03;
}

.row {
  margin: auto;
}

.author-name {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.quot-parallelogram {
  width: 100%;
  transform: skew(-15deg);
  background: #7f9929;
  border-radius: 5px;
}

.quot-parallelogram p {
  transform: skew(8deg);
  font-size: 1.1rem;
  line-height: 1.8rem;
}

.author-img {
  max-height: 110px;
  max-width: 110px;
}
