<footer>
    <div class="container">
        <div class="col-sm-12">
            <div id="container-section" class="row col-sm-12 col-md-12 m-0 pt-4 pr-0 pb-4 pl-0">
                <div class="col-sm-12 col-md-4 col-lg-4 m-0 pr-2">
                    <img class="navbar-brand" src="/assets/images/logo_negative.png">
                    <label class="text-resume">{{CONSTANTS.FOOTER.RESUME}}</label>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 m-0 pr-2">
                    <p class="text-section">{{CONSTANTS.FOOTER.TAG.CATEGORY}}</p>
                    <div class="text-resume">
                        <button type="button" class="btn btn-outline-light">
                            {{CONSTANTS.FOOTER.TAG.BOOK}}
                        </button>&nbsp;
                        <button type="button" class="btn btn-outline-light">
                            {{CONSTANTS.FOOTER.TAG.PUBLISHING}}
                        </button>&nbsp;
                        <button type="button" class="btn btn-outline-light">
                            {{CONSTANTS.FOOTER.TAG.CREATIVE_STORIES}}
                        </button>&nbsp;
                        <button type="button" class="btn btn-outline-light">
                            {{CONSTANTS.FOOTER.TAG.STORY_TELLING}}
                        </button>&nbsp;
                        <button type="button" class="btn btn-outline-light">
                            {{CONSTANTS.FOOTER.TAG.JOBS}}
                        </button>
                    </div>
                </div>
                <div class="col-sm-12 col-md-2 col-lg-2 m-0 pr-2">
                    <p class="text-section">{{CONSTANTS.FOOTER.ABOUT.CATEGORY}}</p>
                    <ul class="text-resume">
                        <li><a href="#">{{CONSTANTS.FOOTER.ABOUT.ABOUT_US}}</a></li>
                        <li><a href="#">{{CONSTANTS.FOOTER.ABOUT.HOW_IT_WORKS}}</a></li>
                        <li><a href="#">{{CONSTANTS.FOOTER.ABOUT.JOBS}}</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-2 col-lg-2 m-0 pr-2">
                    <p class="text-section">{{CONSTANTS.FOOTER.SOCIAL.CATEGORY}}</p>
                    <ul class="text-resume">
                        <li><a href="#">{{CONSTANTS.FOOTER.SOCIAL.NEWSLETTER}}</a></li>
                        <li><a href="#">{{CONSTANTS.FOOTER.SOCIAL.EVENTS}}</a></li>
                    </ul>
                </div>
            </div>
            <div class="pb-4">
                <p class="text-copyright">{{CONSTANTS.FOOTER.COPYRIGHT}}</p>
            </div>
        </div>
    </div>
</footer>
