@import "src/styles";

// mobile responsive
@media only screen and (max-width: 728px) {
  #container-section {
    margin: auto !important;
  }

  .container {
    padding: 0 !important;
  }
}

// tablet responsive
@media only screen and (max-width: 991px) {
  #container-section {
    margin: auto !important;
  }
}

footer {
  background-color: $dark;
}

button {
  font-size: 14px !important;
}

ul {
  list-style-type: none;
  padding: 0;
}

a, a:hover {
  color: $white;
}

.text-section {
  color: $white;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

.text-resume {
  color: $white;
  font-size: 14px;
  margin: 0;
  padding: 0;
  text-align: left;
}

.btn {
  margin-bottom: 10px;
}

.text-copyright {
  color: $white;
  font-size: 14px;
  margin: 0;
  text-align: center;
}
