<div *ngFor="let book of books$; let i = index" [attr.data-index]="i">
    <div class="mb-3" *ngIf="i == 0">
        <app-card-extended [book]="book" [type]="'violet'" [showButtons]="true"
                           (contentTypeSelected)="openContentPage($event, book)"></app-card-extended>
    </div>
    <div class="mb-3" *ngIf="i > 0">
        <app-card-extended-small [book]="book" [type]="i % 2 == 1 ? 'green' : 'violet'"
                                 (contentTypeSelected)="openContentPage($event, book)"></app-card-extended-small>
    </div>
</div>
<div>
    <app-related-books></app-related-books>
</div>
