<div class="navbar container">
    <header class="col-12">
        <div class="row">
            <div id="logo-mobile" class="col-2 text-center">
                <a href="#/home">
                    <img class="navbar-brand" src="/assets/images/logo_mobile.png">
                </a>
            </div>
            <div class="col-5 p-0 d-flex justify-content-start align-items-center">
                <div *ngFor="let nav of navigationMenu">
                    <a class="nav-link p-3" href="#" [routerLink]="nav.url" [routerLinkActive]="'active'">
                        {{nav.label}}
                    </a>
                </div>
            </div>
            <div id="logo-desktop" class="col-2 text-center">
                <a href="#/home">
                    <img class="navbar-brand" src="/assets/images/logo.png">
                </a>
            </div>
            <div class="col-5 p-0 d-flex justify-content-end align-items-center">
                <div *ngFor="let nav of authMenu">
                    <a class="nav-link p-3" href="#" [routerLink]="nav.url" [routerLinkActive]="'active'">
                        {{nav.label}}
                    </a>
                </div>
                <a class="text-muted" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                         fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                         stroke-linejoin="round" class="mx-3">
                        <circle cx="10.5" cy="10.5" r="7.5"></circle>
                        <line x1="21" y1="21" x2="15.8" y2="15.8"></line>
                    </svg>
                </a>
            </div>
        </div>
    </header>
</div>
