@import "src/styles";

// mobile responsive
@media only screen and (max-width: 574px) {
  #logo-desktop {
    display: none;
  }

  #logo-mobile {
    display: unset !important;
  }
}

#logo-mobile {
  display: none;
}

.navbar {
  position: relative;
}

.nav-link {
  color: $tb-02 !important;
}

.nav-link:hover {
  color: $tb-01 !important;
  text-decoration: underline;
}

.active {
  color: $tb-02 !important;
  font-weight: 600;
}
