@import "src/styles";

.card a:hover {
  text-decoration: none
}

.book-cover-img {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.book-cover-green {
  background-color: $tb-03;
  border-radius: inherit;
}

.book-cover-violet {
  background-color: $tb-02;
  border-radius: inherit;
}

.title {
  text-transform: uppercase;
  margin: 0 0.75 0;
  color: $white;
}

.category {
  color: $white;
  text-transform: uppercase;
  margin: 0;
  font-weight: 100;
}

.group-icon-green i {
  color: $white;
  font-size: 1.5rem;
}

.group-icon-green i:hover {
  color: $tb_03_h;
  text-decoration: none;
}

.group-icon-violet i {
  color: $white;
  font-size: 1.5rem;
}

.group-icon-violet i:hover {
  font-size: 24px;
  color: $tb_04_h;
  text-decoration: none;
}
