@import "src/styles";

@media (max-width: 768px) {
  .container > div > div:last-child {
    padding-bottom: 0 !important;
  }

  .cover-book-thumb {
    max-width: 50px;
    max-height: 100px;
    margin-left: 20px
  }
}

hr {
  margin-top: 1.5rem;
  margin-bottom: 0;
  border: 0;
  border-top: 1.2px solid rgba(0, 0, 0, 0.2);
}

a, a:hover {
  color: black;
}

.cover-book-thumb {
  background: linear-gradient(to right, rgb(60, 13, 20) 3px, rgba(255, 255, 255, 0.5) 5px, rgba(255, 255, 255, 0.25) 7px, rgba(255, 255, 255, 0.25) 10px, transparent 12px, transparent 16px, rgba(255, 255, 255, 0.25) 17px, transparent 22px);
  box-shadow: 0 0 5px -1px black, inset -1px 1px 2px rgba(255, 255, 255, 0.5);
  border-radius: 2px;
  max-width: 85px;
  max-height: 120px;
}

.author {
  font-size: 14px;
}
