<hr/>
<div class="container bg-light rounded-bottom p-4 mb-3">
    <h5 class="pb-4">
        <i class="icon-book display-5 align-middle pr-1"></i>Ti piacerà anche
    </h5>
    <div class="row">
        <div class="col-12 col-sm-6 pb-4">
            <div class="row">
                <div class="col-4 col-sm-3 text-center p-0">
                    <img class="cover-book-thumb img-fluid"
                         src="https://kbimages1-a.akamaihd.net/19a16e01-5b52-4201-84a5-2968b056a91e/140/215/60/False/la-sottile-arte-di-fare-quello-che-c-o-ti-pare.jpg"/>
                </div>
                <div class="col-8">
                    <h6 class="text-uppercase pb-0 mb-0">Davanti al mare</h6>
                    <p class="author">Giorgio Venturi</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 pb-4">
            <div class="row">
                <div class="col-4 col-sm-3 text-center p-0">
                    <img class="cover-book-thumb img-fluid"
                         src="https://kbimages1-a.akamaihd.net/3e591f38-2244-4541-8869-a37760cb55a8/140/215/60/False/vengo-prima-io.jpg"/>
                </div>
                <div class="col-8">
                    <h6 class="text-uppercase pb-0 mb-0">Davanti al mare</h6>
                    <p class="author">Giorgio Venturi</p>
                </div>
            </div>
        </div>
    </div>
</div>
