<div class="card">
    <div class="book-cover"></div>
    <div class="px-3 pt-3 pb-0" [ngClass]="type ? 'book-cover-' + type : ''">
        <h4 class="title">{{book.title}}</h4>
        <div class="row col-12 m-0 pb-2" *ngIf="showButtons">
            <div class="col-md-2 col-sm-12 p-0">
                <a class="text-white popp-med pointer" (click)="selectTypeContent('libro')">
                    <i class="icon-book display-5 align-middle pr-1"></i>
                    <span class="text-uppercase">{{CONSTANTS.CARD_EXTENDED.READ}}</span>
                </a>
            </div>
            <div class="col-md-2 col-sm-12 p-0">
                <a class="text-white popp-med pointer" (click)="selectTypeContent('video')">
                    <i class="icon-video display-5 align-middle pr-1"></i>
                    <span class="text-uppercase">{{CONSTANTS.CARD_EXTENDED.SHOW}}</span>
                </a>
            </div>
            <div class="col-md-2 col-sm-12 p-0">
                <a class="text-white popp-med pointer" (click)="selectTypeContent('audio')">
                    <i class="icon-audio display-5 align-middle pr-1"></i>
                    <span class="text-uppercase">{{CONSTANTS.CARD_EXTENDED.HEAR}}</span>
                </a>
            </div>
        </div>
        <div class="row small pb-3">
            <div class="col-lg-7 col-md-7 col-7 pt-1">
                <p [ngClass]="type ? 'category-' + type : ''">
                    <i class="icon-categories icon-position-4 display-6"></i>&nbsp;{{book.category}}
                </p>
            </div>
            <div class="col-lg-5 col-md-5 col-5 d-flex justify-content-end align-items-center pt-1"
                 [ngClass]="type ? 'group-icon-' + type : ''">
                <i class="icon-fb pointer"></i>
                <i class="icon-twitter pointer"></i>
                <i class="icon-instagram pointer"></i>
                <i class="icon-share pointer"></i>
            </div>
        </div>
    </div>
</div>
