@import "src/styles";

.card a:hover {
  text-decoration: none
}

.book-cover {
  min-height: 130px;
  border-radius: inherit;
  border-bottom-left-radius: unset;
  border-bottom-right-radius: unset;
  display: block;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.book-cover-green {
  background-color: $tb-03;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.book-cover-violet {
  background-color: $tb-02;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.title {
  text-transform: uppercase;
  margin: 0 0.75 0;
  color: $white;
}

.author, .author > a {
  color: $white;
}

.author > a:hover {
  color: $white;
  text-decoration: underline;
  cursor: pointer;
}

.category-green {
  color: $white;
  text-transform: uppercase;
  margin: 0;
  font-weight: 100;
}

.category-violet {
  color: $tb_04;
  text-transform: uppercase;
  margin: 0;
  font-weight: 100;
}

.group-icon-green i {
  color: $white;
  font-size: 1.5rem;
}

.group-icon-green i:hover {
  color: $tb_03_h;
  text-decoration: none;
}

.group-icon-violet i {
  color: $tb_04;
  font-size: 1.5rem;
}

.group-icon-violet i:hover {
  color: $tb_04_h;
  text-decoration: none;
}
