<div *ngIf="contents && contents.book">
    <div class="mb-3">
        <app-card-extended [book]="contents.book" [type]="type === 'video' ? 'green' : 'violet'"
                           [showButtons]="false"></app-card-extended>
    </div>
    <div class="row d-flex m-0" *ngIf="contents && (contents.video || contents.audio)">
        <div class="col-md-6 col-sm-12 p-0 mb-3" *ngFor="let content of contents.video || contents.audio; let i = index"
             [ngClass]="i % 2 == 0 ? 'pr-sm-2 pl-sm-0' : 'pr-sm-0 pl-sm-2'">
            <app-card [book]="content" [type]="type" (contentTypeSelected)="openModal($event, content)"></app-card>
        </div>
    </div>
    <div class="mb-3" style="height: 50rem;" *ngIf="type === 'libro'">
        <ng2-pdfjs-viewer [download]="false" [print]="false"
                          pdfSrc="{{contentService.getContentLibroUrl(contents.libro[0])}}"></ng2-pdfjs-viewer>
    </div>
</div>
<ng-template #modal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{selectedContent.title}}</h4>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group text-center mb-0" *ngIf="selectedTypeContent === 'video'">
                <video width="400" controls>
                    <source [src]="contentService.getContentVideoUrl(selectedContent)">
                </video>
            </div>
            <div class="form-group text-center mb-0" *ngIf="selectedTypeContent === 'audio'">
                <audio controls>
                    <source [src]="contentService.getContentAudioUrl(selectedContent)">
                </audio>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close()">{{CONSTANTS.LABEL.CLOSE}}</button>
    </div>
</ng-template>
