<app-banner-author *ngIf="authorDetails" [author]="authorDetails.author"></app-banner-author>
<div class="container p-3">
    <div class="row col-12 col-md-12 m-0">
        <div class="col-md-2 col-sm-12 order-md-12 order-2 pr-2 pl-2">
            <app-sidebar [about$]="about$" [social$]="social$"></app-sidebar>
        </div>
        <div class="col-md-10 col-sm-12 order-md-12 order-1 mt-0 p-0">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
