@import "src/styles";

@media (min-width: 768px) and (max-width: 1024px) {
  .home-header {
    background: url("/assets/images/home_header.png") 20% no-repeat, url("/assets/images/home_header_bg.png") center repeat-x;
  }
}

.home-header {
  min-height: 203px;
  background: url("/assets/images/home_header.png") center no-repeat, url("/assets/images/home_header_bg.png") center repeat-x;
}
