<app-banner></app-banner>
<div class="container px-3 pt-0 pb-3">
    <div class="row col-12 col-md-12 m-0 pt-0 pr-0 pb-2 pl-0">
        <div class="row col-12 pr-2 pl-2">
            <p class="category m-0">
                <span class="text-tb-02">{{CONSTANTS.HOME.THE_STORIES}}</span>
                <span class="text-uppercase">&nbsp;-&nbsp;{{CONSTANTS.HOME.IN_EVIDENCE}}</span>
            </p>
        </div>
        <ngb-carousel class="col-12 p-0" [interval]="5000" [pauseOnHover]="false" [showNavigationArrows]="false"
                      [showNavigationIndicators]="false">
            <ng-template ngbSlide *ngFor="let carousel of books$">
                <div class="d-flex">
                    <div class="col-lg-4 col-md-6 p-2" *ngFor="let book of carousel; let i = index"
                         [ngClass]="i > 0 ? 'd-none d-md-block': ''">
                        <div *ngIf="i < 3">
                            <app-card [book]="book" [type]="'all'"
                                      (contentTypeSelected)="openContentPage($event, book)"></app-card>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
    <div class="row col-12 col-md-12 m-0 pt-0 pr-0 pb-2 pl-0">
        <div class="row col-12 px-2 pt-2">
            <p class="category m-0">
                <span class="text-tb-02">{{CONSTANTS.HOME.THE_STORIES}}</span>
                <span class="text-uppercase">&nbsp;-&nbsp;{{CONSTANTS.HOME.VIDEO}}</span>
            </p>
        </div>
        <ngb-carousel class="col-12 p-0" [interval]="5000" [pauseOnHover]="false" [showNavigationArrows]="false"
                      [showNavigationIndicators]="false">
            <ng-template ngbSlide *ngFor="let carousel of video$">
                <div class="d-flex">
                    <div class="col-lg-4 col-md-6 p-2" *ngFor="let video of carousel; let i = index"
                         [ngClass]="i > 0 ? 'd-none d-md-block': ''">
                        <div *ngIf="i < 3">
                            <app-card [book]="video" [type]="'video'"
                                      (contentTypeSelected)="openModal($event, video)"></app-card>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
    <div class="row col-12 col-md-12 m-0 p-0">
        <div class="row col-12 px-2 pt-2">
            <p class="category m-0">
                <span class="text-tb-02">{{CONSTANTS.HOME.THE_STORIES}}</span>
                <span class="text-uppercase">&nbsp;-&nbsp;{{CONSTANTS.HOME.AUDIO}}</span>
            </p>
        </div>
        <ngb-carousel class="col-12 p-0" [interval]="5000" [pauseOnHover]="false" [showNavigationArrows]="false"
                      [showNavigationIndicators]="false">
            <ng-template ngbSlide *ngFor="let carousel of audio$">
                <div class="d-flex">
                    <div class="col-lg-4 col-md-6 p-2" *ngFor="let audio of carousel; let i = index"
                         [ngClass]="i > 0 ? 'd-none d-md-block': ''">
                        <div *ngIf="i < 3">
                            <app-card [book]="audio" [type]="'audio'"
                                      (contentTypeSelected)="openModal($event, audio)"></app-card>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
</div>
<ng-template #modal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{selectedContent.title}}</h4>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group text-center mb-0" *ngIf="selectedTypeContent === 'video'">
                <video width="400" controls>
                    <source [src]="contentService.getContentVideoUrl(selectedContent)">
                </video>
            </div>
            <div class="form-group text-center mb-0" *ngIf="selectedTypeContent === 'audio'">
                <audio controls>
                    <source [src]="contentService.getContentAudioUrl(selectedContent)">
                </audio>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close()">{{CONSTANTS.LABEL.CLOSE}}</button>
    </div>
</ng-template>
