<div *ngIf="about$" class="mb-3">
    <div>
        <p class="category">{{CONSTANTS.SIDEBAR.ABOUT}}</p>
    </div>
    <ul *ngFor="let about of about$">
        <li>
            <a [href]="about.url" target="_blank">
                <label class="label">{{about.label}}</label>
            </a>
        </li>
    </ul>
</div>
<div *ngIf="social$">
    <div>
        <p class="category">{{CONSTANTS.SIDEBAR.SOCIAL}}</p>
    </div>
    <ul *ngFor="let social of social$">
        <li>
            <a [href]="social.url" target="_blank">
                <label class="label">{{social.label}}</label>
            </a>
        </li>
    </ul>
</div>
