@import "src/styles";

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: black;
}

a:hover {
  color: black;
}

.category {
  text-transform: uppercase;
  border-bottom: 3px solid black;
  width: fit-content;
  margin-bottom: 0.8rem;
}

.label {
  font-size: 14px;
  cursor: pointer;
}

.label:hover {
  text-decoration: underline;
}
