@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

/* override */
$tb_col01: #7f1240 !default;
$tb_col02: #cb0056 !default;
$tb_col03: #a2c516 !default;
$tb_col04: #ffb8e1 !default;
$tb_col05: #0a386b !default;
$tb_col06: #b7b7b7 !default;
$tb_col07: #383838 !default;
$colors: () !default;
$colors: map-merge(("tb_col01": $tb_col01, "tb_col02": $tb_col02, "tb_col03": $tb_col03, "tb_col04": $tb_col04, "tb_col05": $tb_col05, "tb_col06": $tb_col06, "tb_col07": $tb_col07), $colors);
$tb-01: $tb_col01 !default;
$tb-02: $tb_col02 !default;
$tb-03: $tb_col03 !default;
$tb-04: $tb_col04 !default;
$tb-05: $tb_col05 !default;
$tb-06: $tb_col06 !default;
$tb-07: $tb_col07 !default;
$theme-colors: () !default;
$theme-colors: map-merge(("tb-01": $tb-01, "tb-02": $tb-02, "tb-03": $tb-03, "tb-04": $tb-04, "tb-05": $tb-05, "tb-06": $tb-06, "tb-07": $tb-07), $theme-colors);

/* typography font, line-height, and color for body text, headings, and more stylelint-disable value-keyword-case */
$font-family-sans-serif: 'poppinsregular', sans-serif !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base: $font-family-sans-serif !default;
$display5-size: 2.0rem !default;
$display6-size: 1.5rem !default;
$display7-size: 1rem !default;
$display8-size: 0.5rem !default;

/* styles */
.display-5 {
  font-size: $display5-size;
  @include media-breakpoint-down(lg) {
    font-size: $display6-size;
  }
}

.display-6 {
  font-size: $display6-size;
  @include media-breakpoint-down(lg) {
    font-size: $display7-size;
  }
}

.display-7 {
  font-size: $display7-size;
  @include media-breakpoint-down(lg) {
    font-size: $display8-size;
  }
}
