@import 'customize-bootstrap.scss';
@import '../node_modules/bootstrap/scss/bootstrap';

/* colors */
$white: #FFFFFF;
$dark: #383838;
$tb-01: #7F1240;
$tb-02: #CB0056;
$tb-03: #A2C516;
$tb_04: #FFB8E1;
$tb_04_h: #FF6CC1;
$tb-03_h: #E1EFAB;
$tb_05: #0A386B;
$tb_06: #B7B7B7;
$tb_07: #383838;

/* fonts */
@font-face {
  font-family: 'cantata_oneregular';
  src: url('./assets/fonts/cantataone-regular-webfont.woff2') format('woff2'),
  url('./assets/fonts/cantataone-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'poppinsregular';
  src: url("./assets/fonts/poppins-regular-webfont.woff") format('woff'), url("./assets/fonts/poppins-regular-webfont.woff2") format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'icomoon';
  src: url("./assets/fonts/icomoon.eot?nq9hal");
  src: url("./assets/fonts/icomoon.eot?nq9hal#iefix") format("embedded-opentype"), url("./assets/fonts/icomoon.ttf?nq9hal") format("truetype"), url("./assets/fonts/icomoon.woff?nq9hal") format("woff"), url("./assets/fonts/icomoon.svg?nq9hal#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/* fonts */
.popp-med {
  font-family: 'poppinsmedium', sans-serif !important;
}

.popp-bold {
  font-family: 'poppinsbold ', sans-serif !important;
}

.cantata {
  font-family: 'cantata_oneregular', serif !important;
}

/* icons */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-position-4 {
  top: 4px;
  position: relative
}

.icon-audio:before {
  content: "\e900";
}

.icon-book:before {
  content: "\e901";
}

.icon-cart:before {
  content: "\e902";
}

.icon-categories:before {
  content: "\e903";
}

.icon-video:before {
  content: "\e908";
}

.icon-zoom:before {
  content: "\e909";
}

.icon-fb:before {
  content: "\e904";
}

.icon-twitter:before {
  content: "\e907";
}

.icon-instagram:before {
  content: "\e905";
}

.icon-share:before {
  content: "\e906";
}

/* styles */
body {
  font-family: 'poppinsregular', sans-serif !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1, .h1 {
  font-size: 2.5rem;
}

h2, .h2 {
  font-size: 2rem;
}

h3, .h3 {
  font-size: 1.75rem;
}

h4, .h4 {
  font-size: 1.5rem;
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

.navbar-brand {
  height: 55px;
}

.text-tb-01 a {
  color: $tb-01
}

.text-tb-01 a:hover {
  color: darken($tb-01, 5%);
  text-decoration: none
}

.text-tb-02 a {
  color: $tb-02
}

.text-tb-02 a:hover {
  color: lighten($tb-02, 5%);
  text-decoration: none
}

.text-tb-03 a {
  color: $tb-03
}

.text-tb-03 a:hover {
  color: lighten($tb-03, 5%);
  text-decoration: none
}

.text-tb-04 a {
  color: $tb-04
}

.text-tb-04 a:hover {
  color: darken($tb-04, 5%);
  text-decoration: none
}

.text-tb-05 a {
  color: $tb-05
}

.text-tb-05 a:hover {
  color: darken($tb-05, 5%);
  text-decoration: none
}

.text-tb-06 a {
  color: $tb-06
}

.text-tb-06 a:hover {
  color: darken($tb-06, 5%);
  text-decoration: none
}

.pointer {
  cursor: pointer;
}

.bottom-0 {
  bottom: 0;
}
